body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("Amazing-Hearthstone-Heroes-of-Warcraft-Wallpaper.png");
  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bgtl {
  /* The image used */
  background-image: url("153610-hearthstone-background-2048x1152-for-iphone.jpg");
  

  /* Full height */
height:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
}
.liste {
 
  background-image: url("153610-hearthstone-background-2048x1152-for-iphone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
}
select{
  width: 200px;
  padding: 12px 20px;
  margin: 05px 0;
  display: inline-block;
  border: 2px solid white;
  box-sizing: border-box;
  background-color: #ead7c8;
  border-radius: 5px;
  
}
input[type=text], input[type=password], input[type= number], input[type= email]{
  width: 20%;
  padding: 12px 20px;
  margin: auto;
  
  border: 2px solid white;
  box-sizing: border-box;
  background-color: #ead7c8;
  border-radius: 5px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px solid  #ffae42;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    color: #ead7c8;
    
}
.left {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll; 
  text-align: center;
}